body {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    margin: 0px
}
head {
    padding: 20px;
    text-align: centre;
    color: #ffff
}
h1 {
  color: #ffff;
    font-size: 2.5rem
    margin-bottom: 10px;
    padding: 15px;
}
ul {
  font-size: 20px;
  text-align: center;
  margin: auto
}
nav {
  display: flex;
  background-color: #d8a47f;
  background: #000;
  line-height: 0px;
}
nav a {
  color: #ffff;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
nav a:hover {
  background-color: #aaafff;
}
<!--NAV BAR--!>
--------------------------
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;

}
html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

<!--NAV--!>

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
{
  box-sizing: border-box;
}
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}