body {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    margin: 0px
}
h1 {
  color: #ffff;
    font-size: 2.5rem
    margin-bottom: 10px;
    padding: 15px;
}
ul {
  font-size: 20px;
  text-align: center;
  margin: auto
}
head {
    padding: 20px;
    text-align: centre;
    color: #ffff
}
nav {
  display: flex;
  background-color: #d8a47f;
  background: #000;
  line-height: 0px;
}
nav a {
  color: #ffff;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: #aaafff;
}
<!--NAV BAR--!>

